
<div class="form-group">
<form action="<?php echo basePath() ?>admin/patient/add" method="POST">
    <div class="form-group">
        <label for="imie">Imię</label>
        <input type="text" name="imie" class="form-control" id="imie">
    </div>
    <div class="form-group">
        <label for="nazwisko">Nazwisko</label>
        <input type="text" name="nazwisko" class="form-control" id="nazwisko">
    </div>
    <div class="form-group">
        <label for="pesel">Pesel</label>
        <input type="number" name="pesel" class="form-control" id="pesel">
    </div>
    <div class="form-group">
        <label for="haslo">Hasło</label>
        <input type="password" name="haslo" class="form-control" id="haslo">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
</div>